{{ with . }}
  <div class="tag-list">
    {{ range . }}
      {{ $tipKey := "tag_tip_default" }}
      {{ if eq . "S&P 500" }}
        {{ $tipKey = "tag_tip_sp500" }}
      {{ else if eq . "Nasdaq 100" }}
        {{ $tipKey = "tag_tip_nasdaq100" }}
      {{ else if eq . "Russell 1000" }}
        {{ $tipKey = "tag_tip_russell1000" }}
      {{ else if eq . "Russell 2000" }}
        {{ $tipKey = "tag_tip_russell2000" }}
      {{ else if eq . "Russell 3000" }}
        {{ $tipKey = "tag_tip_russell3000" }}
      {{ else if eq . "Mag7" }}
        {{ $tipKey = "tag_tip_mag7" }}
      {{ end }}
      <span class="tag tip-trigger" data-tooltip="{{ i18n $tipKey (dict "Name" .) }}">{{ . }}</span>
    {{ end }}
  </div>
{{ end }}
